.active-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  border-radius: 35px;
  vertical-align: middle;
  padding: 0 30px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  background: black;

  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

@media screen and (min-width: 760px) {
  .active-button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    border-radius: inherit;
    transform: translate3d(0, 0.35em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }

  .active-button:hover::before {
    background: black;
    box-shadow: 0px 1px 0.1px #02e111;
    border: none;
  }
}
